.pages {
  background-color: #fff;
  min-height: calc(100vh - 5em);
  padding: 2em;
}

.popover {
  background-color: #000;
  border-radius: 0.5em;
}

.popover-body {
  font-family: Poppins;
  color: #fff;
  font-size: 0.9em;
  padding: 0.8em;
}